apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: python-sql-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-page
        image: honey120ar/python-flask-app:latest
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: mysql-config
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: mysql-config
              key: DB_USER
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DB_NAME
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DB_PASSWORD

---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
  namespace: python-sql-demo
spec:
  selector:
    app: python-app
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: NodePort
